RewriteEngine On

RewriteRule ^/?$ index.php?Route=nutricionista&Action=login

RewriteRule ^nutricionista/?$ index.php?Route=nutricionista&Action=login
RewriteRule ^out/([a-zA-Z0-9]+)/?$ api.php?Controller=$1

RewriteRule ^([a-zA-Z0-9]+)/?$ index.php?Route=$1&Action=consultar
RewriteRule ^([a-zA-Z0-9]+)/([a-zA-z0-9]+)$ index.php?Route=$1&Action=$2
RewriteRule ^([a-zA-Z0-9]+)/([a-zA-z0-9]+)/([a-zA-z0-9]+)$ index.php?Route=$1&Action=$2&id=$3