/* Menu */
@import url('objects/menu.css');

/* Menu */
@import url('objects/header.css');

/* Tabela */
@import url('objects/table.css'); 

* {
    margin: 0;
    padding: 0;
}

.main {
    height: -webkit-fill-available;
    z-index: 0;
    display:flex;
}

.dashboard{
    position: relative;
    flex: 0 0 85%;
    background-color: #efefef;
}
     
    .section-main{
        background-color: rgb(239,239,239);
    }
        .header-main{
            background-color: rgb(79,79,79);
            padding: 5px 64px;
        }

        .section-divs{
            display: flex;
            background-color:royalblue;
        }
            .icons-pacients1 {
                display : inline-flex;
            }
            .icons-pacients2 {
                display : inline-flex;
            }
            .icons-pacients3 {
                display : inline-flex;
            }
.icons-pacients1 .icons-pacients2 .icons-pacients3{
flex:2;
}

    .section-table{
        flex:5;
        background-color:whitesmoke;
    }   