/* Objects */
@import url('objects/menu.css');
@import url('objects/header.css');
@import url('objects/statistics.css');
@import url('objects/reports.css');
@import url('objects/patient.css');


/* Components */
@import url('components/table.css'); 
@import url('components/form.css'); 

* {
    margin: 0;
    padding: 0;
}

/*
body{
    overflow: hidden;
}*/

.main-dashboard {
    display: flex;
}

.dashboard{
    position: relative;
    width: calc(100% - 255px);
}

    .dashboard-content{
        background-color: #efefef;
        overflow-y: scroll;
        overflow-x: hidden;
        height: calc(100vh - 132px);
        padding-bottom: 40px;
    }

    .dashboard-table, .dashboard-form, .dashboard-statistics{
        padding: 0 30px;
    }

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

    /* Track */
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px #efefef; 
        border-radius: 10px;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        /* background: #9D2F4C;  */
        background: #cccccc; 
        border-radius: 10px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        /* background: #741b33;  */
        background: #979797;
    }

.response{
    text-align: center;
    max-width: 630px;
}

    .response-message {
        background-color: rgba(0,0,0,0.6);
        border-radius: 12px;
        color: #ffffff;
        display: none;
        font-family: "Roboto", sans-serif;
        padding: 10px 50px;
        position: relative;
        text-align: center;
        margin-top: 30px;
    }

    .response-load {
        width: 30px;
        margin-top: 30px;
        position: relative;
        display: none;
    }

.card{
    width: 18rem;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 5px;
    display: inline-flex;
    margin: 10px 30px 10px 0;
    padding: 10px;
    box-shadow: 1px 1px 1px #cccccc;
}


@media screen and (min-width: 1200px){
    .dashboard-table{
        width: 1000px;
    }
}

@media screen and (max-width: 991px) {
    .dashboard{
        width: 100%;
    }

    .dashboard-table{
        width: auto;
    }
}
@media (min-width: 425px) and (max-width: 767px) {

}
@media (max-width: 424px) {
    
}