* {
    margin: 0;
    padding: 0;
}

.main {
    background-image: url("../../public/images/background-main-md.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    z-index: 0;
    position: relative;
}

.main::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

    .main-header {
        display: flex;
        background-color: rgba(0, 0, 0, 0.5);
        height: 78px;
        align-items: center;
    }

        .header-logo {
            margin-left: auto;
            margin-right: auto;
        }

    .main-block {
        display: flex;
        position: absolute;
        width: 862px;
        height: 358px;
        font-family: "Roboto", sans-serif;
        top: 50%;
        left: 50%;
        transform: translate(-50%, calc(-50% + 34px));
    }

        /*este será o bloco principal*/
        .block-description {
            display: block;
            position: absolute;
            bottom: 0;
            top: 0;
            width: 55%;
            background-image: url("../../public/images/background-description-md.jpeg");
            background-size: cover;
            background-repeat: no-repeat;
            text-align: center;
            padding: 40px 64px;
            box-sizing: border-box;
            z-index: 1;
        }

        .block-description::after {
            content: "";
            background: linear-gradient(to bottom, rgba(164, 54, 76, 0.5), rgba(225, 129, 74, 0.6));
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
        }

            .description-project {
                margin: 25px 0 34px;
                color: #ffffff;
                font-family: "Roboto", sans-serif;
                font-size: 15px;
            }

            .description-button {
                background-color: transparent;
                font-size: 16px;
                padding: 8px 30px;
                border: 1px solid #ffffff;
                color: #ffffff;
                text-transform: uppercase;
                transition: 0.5s;
                outline: none;
            }

            .description-button:hover{
                cursor: pointer;
                padding: 8px 40px;
                background-color : rgba(255,255,255, 0.2);
            }

        .block-form {
            display: block;
            position: relative;
            background-color: #ffffff;
            box-sizing: border-box;
        }

        .flex-bigger{
            flex: 0 0 55%;
        }

        .flex-smaller{
            flex: 0 0 45%;
        }

        .block-form-cad{
            padding: 27px 49px;
            order: 0;
        }

            .block-form-cad .form-title, .block-form-cad .form-content{
                display: none;
            }

        .block-form-log{
            padding: 58px 49px;
            order: 1;
        }

            .form-title{
                font-family: "Roboto", sans-serif;
                font-size: 25px;
                color: #452531;
            }

            .form-content{
                background-color: transparent;
                color: #911f4d;
                font-size: 16px;
            }
                
                .form-field{
                    position: relative;
                    margin-top: 30px;
                    display: block;
                }
                
                .form-field input {
                    font-size: 16px;
                    font-family: "Roboto", sans-serif;
                    width: 100%;
                    border: none;
                    border-bottom: 1px solid transparent;
                    border-image: linear-gradient(to right, #333333, #333333);
                    border-image-slice: 1;
                    padding: 6px 0;
                    outline: none;
                    color: #333333;
                }

                .form-field input.focus{
                    border-bottom: 1px solid transparent;
                    border-image: linear-gradient(to right, rgb(164, 55, 77), rgb(225, 129, 74));
                    border-image-slice: 1;
                }

                .form-field label {
                    font-family: "Roboto", sans-serif;
                    font-size: 16px;
                    color: #4f4f4f;
                    position: absolute;
                    top: 0;
                    transition: 0.5s;
                }

                .form-field.focus label{
                    color: #911f4d;
                    top: -12px;
                    font-size: 13px;
                }

                .form-content input[type="submit"]{
                    margin-top: 34px;
                    padding: 8px 15px;
                    width: 100%;
                    text-transform: uppercase;
                    font-size: 16px;
                    color: #911f4d;
                    border: 1px solid transparent;
                    border-image: linear-gradient(to right, #a4374d, #e1814a);
                    border-image-slice: 1;
                    background: transparent;
                    font-weight: lighter;
                    transition: 0.5s;
                }

                .form-content input[type="submit"]:hover{
                    cursor: pointer;
                    color: #ffffff;
                    background: linear-gradient(to right, #a4374d, #e1814a);
                    /* background-color: #452531; */
                }

            .form-forgot{
                font-size: 15px;
                color: #911f4d;
                margin-top: 13px;
                display: inline-block;
                text-decoration: none;
                font-weight: lighter;
            }
    
    .main-message{
        background-color: rgba(0,0,0,0.7);
        border-radius: 12px;
        color: #ffffff;
        display: none;
        font-family: "Roboto", sans-serif;
        left: 50%;
        padding: 10px 50px;
        position: absolute;
        text-align: center;
        top: 50%;
        transform: translate(-50%, calc(-50% + 34px + 179px + 50px));
    }

    .main-load{
        width: 30px;
        top: 50%;
        transform: translate(-50%, calc(-50% + 34px + 179px + 50px));
        left: 50%;
        position: absolute;
        display: none;
    }

@media (min-width: 768px) and (max-width: 991px) 
{

    .main{
        background-image: url("../../public/images/background-main-sm.jpeg");
    }
        .main-block {
            width: 650px;
        }

            .block-description{
                background-image: url("../../public/images/background-description-sm.jpeg");
                padding: 58px 30px;
            }

            .block-form{
                padding: 40px 30px;
            }
}

@media (min-width: 425px) and (max-width: 767px) 
{
    .main{ 
        height: auto;
        background-image: url("../../public/images/background-main-sm.jpeg");
    }

        .main-header {
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 55;
            width: 100%;
            display: block;
            height: 60px;
            text-align: center;
        }

            .header-logo{
                height: 40px;
                margin-top: 10px;
            }

        .main-block {
            position: relative;
            max-width: 80%;
            display: block;
            transform: inherit;
            top: 0;
            left: 0;
            height: auto;
            margin: auto;
            padding: 30px 0;
        }

            .block-description {
                background-image: url("../../public/images/background-description-sm.jpeg");
                position: relative;
                width: 100%;
                top: 0;
                padding: 20px 44px;
            }
        
            .block-form {
                width: 100%;
                bottom: 0;
                padding: 20px 44px;
                position: relative;
            }

                .block-form-log
                {
                    padding: 20px 44px;
                }

                .block-form-cad
                {
                    padding: 20px 44px;
                    display: none;
                }

                .block-form-cad .form-title, .block-form-cad .form-content{
                    display: block;
                }

}

@media (max-width: 424px) 
{
    .main{ 
        height: auto;
        background-attachment: fixed;
        background-image: url("../../public/images/background-main-sm.jpeg");
    }

        .main-header {
            background-color: rgba(0, 0, 0, 0.8);
            z-index: 55;
            width: 100%;
            display: block;
            height: 60px;
            text-align: center;
        }

            .header-logo{
                height: 40px;
                margin-top: 10px;
            }

        .main-block {
            position: relative;
            max-width: 85%;
            display: block;
            transform: inherit;
            top: 0;
            left: 0;
            height: auto;
            margin: auto;
            padding: 30px 0;
        }

            .block-description {
                background-image: url("../../public/images/background-description-sm.jpeg");
                position: relative;
                width: 100%;
                top: 0;
                padding: 25px;
            }
        
            .block-form {
                width: 100%;
                bottom: 0;
                padding: 10px 24px;
                position: relative;
            }
                .block-form-log
                {
                    padding: 20px 44px;
                }
                .block-form-cad
                {
                    padding: 20px 44px;
                    display: none;
                }

                .block-form-cad .form-title, .block-form-cad .form-content{
                    display: block;
                }
}