* {
    margin: 0;
    padding: 0;
    }

header
{
display:flex;
background-color: lightslategray;
height:78px;
align-items:center;
}

.header-logo
{
margin-left: auto;
margin-right: auto;   
}

.main-block
{
display:flex;
background-color: lightblue;
width:862px;
height:358px; 
margin: auto;
margin-top: 93px;
font-family: Roboto-Light, AdobeInvisFont MyriadPro-Regular;
font-size: 15pt;
color: rgba(255, 255, 255, 255);
}

.block-description
{
display: block;
width: 55,57%; 
text-align: center;
}

.description-logo
{
margin-top: 4px;
padding: 25px;
}

#description-button
{
margin-top: 45px;
width: 148px;
padding: 4px;
font-size: 15pt;
}

.block-form
{
display: block;
background-color: lightskyblue;
width: 44,43%;
}

.form-login
{
margin-top: 30px;
margin-left:49px;
}

label
{
display: inline-block;
width: 55px;
text-align: right;  
}

input
{
margin-right: 48px;
font: 1em sans-serif;
/* Para dar o mesmo tamanho a todos os campo de texto */
width: 287px;
box-sizing: border-box;

/* Para harmonizar o look & feel das bordas nos campos de texto*/
border: 1px solid #999;
}

#login
{
margin-top: 25px;
margin-bottom: 05px;
padding: 4px;
font-size: 15pt;
}

#esqueceu
{
margin-left:49px; 
font-size: 12pt;
}
h1
{
font-family: Roboto-Bold, AdobeInvisFont, MyriadPro-Regular;
font-size: 25pt;
color: rgba(69, 37, 49, 255);
margin-left:49px;
margin-top: 58px;
}

label
{
font-family: Roboto-Regular, AdobeInvisFont, MyriadPro-Regular;
font-size: 12pt;
color: rgba(145, 31, 77, 255);
text-align: left;
}