.dashboard-header{
    background-color: #cccccc;
}

.header-top{
    overflow: hidden;
    background-color: #ffffff;
    padding: 20px 30px;
}

    .header-search{
        margin-right: 30px;
        border: 1px solid #9d2f4c;
        border-radius: 10px;
        float: right;
        overflow: hidden;
    }

        .search-icon{
            padding: 5px;
            height: 22px;
        }

        .search-input{
            border: none;
            padding: 5px 10px 5px 0;
            height: 22px;
        }

    .header-options{
        background-color: #ffffff;
        z-index: 100;
        right: 25px;
        top: 55px;
        position: absolute;
        padding: 10px 15px;
        border-radius: 5px 0 5px 5px;
        border: 1px solid #cccccc;
        display: none;
    }

        .header-options::before, .header-options::after{
            height: 0;
            width: 0;
            content: "";
            display: block;
            position: absolute;
            right: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
        }

        .header-options::before{
            border-bottom: 10px solid #cccccc;
            top: -11px;
        }

        .header-options::after{
            border-bottom: 10px solid #ffffff;
            top: -10px;
        }

        .header-options ul{
            margin: 0;
            list-style: none;
            text-align: right;
        }

            .header-options ul a, .header-options ul button {
                color: #9D2F4C;
                margin: 5px 0 0;
                display: block;
                border: none;
                background-color: transparent;
            }

            .header-options ul a:hover{
                text-decoration: none;
            }

    .header-perfil{
        float: right;
        display: flex;
        align-items: center;
    }

    .header-perfil:hover{
        cursor: pointer;
    }

        .perfil-name{
            font-family: "Roboto Light";
            font-size: 18px;
            color: #9d2f4c;
            margin: 0;
        }

        .perfil-arrow{
            margin-left: 20px;
        }

    .header-menu{
        float: left;
        display: none;
    }

        .header-menu span{
            height: 5px;
            width: 30px;
            margin-bottom: 5px;
            background-color: #9d2f4c;
            display: block;
        }

.header-bottom{
    background-color: #414141;
    padding: 20px 30px;
}

    .header-title{
        color: #ffffff;
        font-family: ﻿"Roboto Light";
        font-size: 25px;
        margin: 0;
    }

@media screen and (max-width: 991px) {
    .header-menu{
        display: block;
    }
}

@media screen and (max-width: 425px) {
    .header-search{
        margin-right: 0;
        display: block;
    }
}