.aside{
    background: linear-gradient(to bottom, rgba(145, 32, 77, 1), rgba(228, 132, 74, 1));
    width: 255px;
    position: relative;
}

    .aside-header {
        margin-top: 23px;
        text-align: center;
    }
    
        .header-logo{
            
        }

    .aside-nav{
        margin-top: 60px;
    }

        .aside-nav li{
            list-style: none;
            position: relative;
        }
        
        .aside-nav li:hover{
            cursor: pointer;
        }

        .nav-dropdown{
            height: 45px;
            overflow: hidden;
            transition: 0.5s;
        }

            .nav-dropdown.active{
                height: 124px;
                background-color: rgba(0,0,0,0.2);
            }

            .nav-dropdown.active .nav-submenu{
                top: 45px;
                opacity: 1;
            }
            
            .nav-dropdown.active .item-icon-arrow{
                transform: rotate(0deg);
            }

            .nav-item{
                margin: 10px 20px;
                overflow: hidden;
                display: flex;
                align-items: center;
                position: relative;
            }

                .item-description{
                    color: #ffffff;
                    display: inline-block;
                    font-size: 16px;
                    margin: 0;
                }

                .item-icon-info{
                    margin-right: 17px;
                }

                .item-icon-arrow{
                    position: absolute;
                    right: 0;
                    transform: rotate(-90deg);
                    transition: 0.5s;
                }

            .nav-submenu{
                list-style: none;
                top: -75px;
                left: 55px;
                position: absolute;
                opacity: 0;
                transition: 0.5s;
            }
                
                .nav-submenu li{
                    padding: 5px 0 15px;
                }

                    .submenu-icon{
                        margin-right: 10px;
                    }

                    .submenu-description{
                        color: #ffffff;
                        display: inline-block;
                        font-size: 14px;
                        margin: 0;
                    }

    .rodape-menu{
        font-family: "Roboto", sans-serif;
        color: #ffffff;
        position: absolute;
        bottom: 0;
        text-align: center;
    }

/* @media (min-width: 768px) and (max-width: 991px) { */
@media (max-width: 991px) {
    .aside{
        position: absolute;
        z-index: 2;
        left: -255px;
        top: 70px;
        transition: 0.5s;
        bottom: 0;
    }

    .aside.active{
        left: 0;
    }
}