.dashboard-statistics{
    display:flex;
    margin: 20px 0;
    flex-wrap: wrap;
}

    .statistics-item{
        display: inline-flex;
        margin: 10px 30px 10px 0;
    }

    .statistics-item:last-child{
        margin-right: 0;
    }

        .statistics-item-image-blue {     
            padding: 10px;      
            background-color:rgb(0,159,227);
        }
        .statistics-item-image-agua  {
            padding: 10px;           
            background-color:rgb(37,180,177);
        }
        .statistics-item-image-green  {
            padding: 10px;
            background-color:rgb(63,175,108);
        }

        .statistics-item-description{
            background-color: #ffffff;
            font-family: ﻿"Roboto Light";
            color: #414141;
            text-align: center;
            height: 60px;
            width: 155px;
        }

            .statistics-item-description span{
                font-size: 25px;
            }

            .statistics-item-description p{
                margin: 0;
            }

@media (min-width: 768px) and (max-width: 991px) 
{

}

@media (min-width: 425px) and (max-width: 767px) 
{

}

@media (max-width: 424px) 
{

}