.dashboard-statistics{
    display:flex;
    margin: 20px 0;
    flex-wrap: wrap;
}

    .statistics-item{
        display: inline-flex;
        margin: 10px 30px 10px 0;
    }

        .statistics-item img{
            /* width: 40px; */
            height: 50px;
        }

    .statistics-item:last-child{
        margin-right: 0;
    }

        .statistics-item-image-blue {     
            padding: 10px;      
            background-color:#009fe3;
            display: flex;
            align-items: center;
        }
        .statistics-item-image-agua  {
            padding: 10px;           
            background-color:#25b4b1;
            display: flex;
            align-items: center;
        }
        .statistics-item-image-green  {
            padding: 10px;
            background-color:#3faf6c;
            display: flex;
            align-items: center;
        }
        .statistics-item-image-orange  {
            padding: 10px;
            background-color:#ffa03a;
            display: flex;
            align-items: center;
        }
        .statistics-item-image-yellow  {
            padding: 10px;
            background-color:#f5cf4d;
            display: flex;
            align-items: center;
        }
        .statistics-item-image-redLight  {
            padding: 10px;
            background-color:#dc4848;
            display: flex;
            align-items: center;
        }
        .statistics-item-image-redDark  {
            padding: 10px;
            background-color:#9d2f4c;
            display: flex;
            align-items: center;
        }

        .statistics-item-description{
            background-color: #ffffff;
            font-family: ﻿"Roboto Light";
            color: #414141;
            text-align: center;
            /*height: 60px; retirei da interna, verificar se na consulta ficou bom*/
            width: 155px;
        }

            .statistics-item-description span{
                font-size: 25px;
            }

            .statistics-item-description p{
                margin: 0;
            }

@media (min-width: 768px) and (max-width: 991px) 
{

}

@media (min-width: 425px) and (max-width: 767px) 
{

}

@media (max-width: 424px) 
{

}